.navBar {
    height: 2rem;
    width: 96.1vw;
    max-width: 75rem;
    padding: 1rem 2rem;
    text-align: center;
    margin: -60px;
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: rgb(238, 231, 218);
  }
  .logo{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-left: 2rem;
    background-color: unset;
   }
   .menu{
    background-color: unset;
    text-align: center;
    justify-content: center;
    margin-right: 30px;
   }
 
   .menuListItem{
    margin: 1rem;
    cursor: pointer;
    background-color: unset;
    text-align: center;
  }
 